@media (max-width: 576px) {
  /* HEADER */
  #goBack {
    z-index: 99999999;
  }
  #goBack svg {
    height: 32px;
    width: 32px;
  }

  #contMenuNav {
    display: none;
  }
  #contMenuDX {
    position: relative;
    overflow: hidden;
  }

  #contIconMenu {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 50px;
    width: 50px;
  }
  #iconMenu {
    width: 50px;
    height: 50px;
    fill: #a8a8a8;
    animation: animationOpacity 3s ease forwards;
  }
  /* CONTENT */
  #presentazione p {
    margin: 20px 0;
    width: 90%;
  }
  #presentazione h1 {
    margin: 100px 0 50px 0;
  }
  #evidenza {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    gap: 5px;
  }
  #descrizioneArticoloEvidenza {
    text-align: center;
  }
  #contImg {
    padding-top: 120px;
  }
  .elemLibro {
    min-height: 400px;
    height: auto;
    text-align: center;
  }
  .elemLibro img {
    width: 80%;
    min-height: 100%;
    height: 100%;
    object-fit: cover;
  }
  #bio {
    padding-top: 300px;
  }

  #slideMenu {
  }

  #imgArticoloEvidenza {
    flex: 1;
    overflow: hidden;
    min-height: 400px;
    text-align: center;
    justify-items: center;
    align-content: center;
  }
  #imgArticoloEvidenza img {
    width: 80%;
    min-height: 450px;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg);
  }
  #estrattoLibro {
    width: 80%;
    margin: 50px 5px;
    padding: 0 10px;
  }
  #estrattoLibro p {
    line-height: 1.45em;
    font-family: Work sans;
    font-size: 16px;

    margin-top: 18px;
    text-align: justify;
  }
  #estrattoLibro h2 {
    margin-top: 25px;
  }
  #goBack {
    left: 0px;
    z-index: 999999;
  }
  #contAmazon {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 700px;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #a8a8a8;
    background-color: black;
    border-radius: 30px 0 30px 0;
  }
  #contAmazon img {
    position: relative;
    margin: auto;
  }
  .book-image {
    width: 55%;
    min-width: 200px;
    height: auto;
    object-fit: contain;
  }

  .book-info {
    flex: 1;
  }

  .author-name {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    color: #ffb300a5;
    margin: 0;
  }

  .book-title {
    font-family: "Cinzel Decorative", serif;

    font-size: 13px;
    margin: 10px 0;
    color: #a8a8a8;
  }

  .book-details {
    line-height: 1.65em;
    font-family: Work sans;
    font-size: 11px;
    color: #a8a8a8;
    margin: 5px 0 5px;
  }

  .buy-button {
    display: inline-block;
    background-color: #ff9900;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
  }
}
@media (min-width: 577px) and (max-width: 991.98px) {
  section {
    width: 100%;
  }
  #imgArticoloEvidenza img {
    width: 100%;
    min-height: 450px;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg);
  }
  #goBack {
    left: 0px;
    z-index: 999999;
  }

  #estrattoLibro {
    width: 80%;
    margin: 50px 5px;
    padding: 0 10px;
  }
  #estrattoLibro p {
    line-height: 1.45em;
    font-family: Work sans;
    font-size: 16px;

    margin-top: 18px;
    text-align: justify;
  }
  #estrattoLibro h2 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  /* Stili per schermi grandi */
}
